body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #0f2027, #2C5364);
  background-repeat: no-repeat;
  width: 100%;
  color: #EED0B9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: open sans, Rubik, Inconsolata, sans-serif;
  }
}

.pageContainer {
  width: 100%;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  animation: 1s ease-out 0s 1 animPres;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.2s linear;
}

@keyframes animPres {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}







