body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(
    circle farthest-corner at 80.4% 21.7%,
    rgb(16, 122, 143) 0%,
    rgb(32, 94, 168) 100.2%
  );
  width: 100%;
  color: #ecd0ba;
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.pageContainer {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  animation: 1s ease-out 0s 1 animPres;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.2s linear;
}

@keyframes animPres {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
